@using Microsoft.AspNet.Identity
@using ConstructIT.DAL.Models
@if (Session["korisnik"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        Korisnik korisnik = (Korisnik)Session["korisnik"];

    <ul class="nav navbar-nav navbar-right" style="position:relative; left:-10px">
        
        @if (korisnik.KorisnikTip != "Klijent")
        {
            <li>@Html.ActionLink("Korisnici", "Index", "Korisnik")</li>
        }

        <li>@Html.ActionLink("Odjavite se", "Logout", "Session")</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Prijavite se", "Login", "Session", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
